# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
start 'BMW X5M Competition 2020
start  BMW m5 f90 b
start  BMW i8 
start  BMW m5 f10 
start  BMW m5 f10 combi 
start  BMW m4 f82 
start  BMW m4 f82 libertiwok
start  HAMER Hummer EV  
start  BMW 2020 BMW 330i G20
start  Urchin 2 Bulk Carrier
start  2022 Alpine A522
start  Urchin Bulk Carrier
start  2021 BMW M4 G82 Kith
start  2015 Ferrari LaFerrari
start  
start
start
start
